[submodule "libs/--force"]
	path = libs/--force
	url = https://github.com/jcelerier/RtMidi17
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "libs/RtMidi17"]
	path = libs/RtMidi17
	url = https://github.com/jcelerier/RtMidi17
[submodule "libs/libremidi"]
	path = libs/libremidi
	url = git@github.com:jcelerier/libremidi.git
